<%- include('partials/header') %>

<div class="text-center">
  <div class="container">
    <div class="main-part">
      <img
        class="main-page-logo"
        src="<%= data.image%>"
        alt="Secretly Logo"
        width="300px"
      />
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <div class="main-part-buttons">
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button"
          >Submit a Secret</a
        >
      </div>

      <hr />
      <div class="posts-container">
        <% usersPosts.forEach((user) => { %>

        <div class="post">
          <p><%= user.secretPost.content %></p>
          <div class="post-details">
            <span class="post-writer">
              Posted at <%=user.secretPost.date.toLocaleString() %>, By
              Anonymous
            </span>
          </div>
        </div>
        <% }) %>
      </div>
      <hr />
    </div>
  </div>
</div>

<%- include('partials/footer') %>
